.hero {
    background-image: url("bilder/header.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 0.8;
    height: 20em;
}
.logo {
    position: absolute;
    top:0.5em;
    left: 1em;
    width: 8em;
}
.Huvudnavigering ul{
    display: flex;
    list-style: none;
    place-content: center;
    gap: 2em;
    padding-top: 2em;
}
.meny {
    color: black;
     font-weight: bold;
     font-size: 1.3em;
     line-height: 1.5em;
}
body {
    background-color: rgba(142, 154, 177, 0.336);
}
.intro > p {
    width: 40rem;            
    margin: 2em auto;            
    padding: 1.5em 2em;          
    text-align: center;          
    font-size: 1.5em;            
    background-color: #97cff5;   
    color: #2c2c2c;                 
    border-radius: 2em;         
    
}
.bilder {
    display: flex;
    gap:3em;
    padding: 2em;
}
.bilder img{
    width:30%;
    height: auto;
    
}
footer {
    background-color: #97cff5;
    padding: 0.5em;
}
footer p {
    font-size: 1em;
    line-height: 1em;
}
section {
    display: flex;
    flex-wrap: wrap;        
    gap: 20px;
    margin-bottom: 40px;
    padding:3em
}
section img {
    width: 25rem;
    height: auto;
}
section p {
    flex: 1;                
    min-width: 250px;
    max-width: 500px;
    line-height: 1.5;
    padding-top: 5rem;
}


@media (max-width: 700px) {
    section {
        flex-direction: column;  
        align-items: center;
        text-align: center;
    }

    section img {
        width: 90%;              
        max-width: 350px;
    }

    section p {
        max-width: 90%;
    }
}



