.hero {
    background-image: url("bilder/header.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 65%;
    height: 20em;
}
.logo {
    position: absolute;
    top:1px;
    left: 1px;
    width: 120px;
}
.Huvudnavigering ul{
    list-style: none;
}


